*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #201a58;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}